@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,300;0,400;0,500;0,600;0,700;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

body {
  margin: 0;
  padding: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --bodytext-2: Urbanist;
  --text-sm-semibold: Inter;
  --font-urbanist: Urbanist;

  /* font sizes */
  --label-2-size: 16px;
  --label-1-size: 18px;
  --bodytext-2-size: 20px;
  --font-size-21xl: 40px;
  --font-size-xs: 12px;
  --font-size-13xl: 32px;
  --bodytext-1-size: 24px;
  --font-size-9xl: 28px;
  --font-size-29xl: 48px;

  /* font sizes */
  --text-sm-semibold-size: 14px;
  --text-xs-medium-size: 12px;
  --text-lg-semibold-size: 18px;
  --font-size-5xs: 8px;
  --font-size-3xs: 10px;
  --font-size-5xl: 24px;
  --font-size-base: 16px;
  --font-size-xl: 20px;

  /* Colors */
  --foundation-white: #f9f9fe;
  --foundation-blue-light: #eaebf5;
  --foundation-blue-normal: #29339b;
  --color-midnightblue-100: #121746;
  --foundation-orange-normal: #fb983c;
  --foundation-neutral-black-neutral-black-100: #b1b0ba;
  --foundation-blue-light-active: #bdc0e0;
  --foundation-neutral-black-neutral-black-200: #8b8a99;
  --foundation-blue-light-hover: #dfe0f0;
  --foundation-neutral-black-neutral-black-400: #35344e;
  --foundation-blue-darker: #0e1236;
  --foundation-neutral-black-neutral-black-500: #020122;
  --color-dimgray: #55556b;
  --color-white: #fff;
  --foundation-neutral-black-neutral-black-50: #e6e6e9;

  /* Colors */
  /* --color-ghostwhite-100: #f9f9fe; */
  --brand-50: #f9f5ff;
  /* --foundation-blue-light: #eaebf5; */
  --color-ghostwhite-200: rgba(234, 235, 245, 0.69);
  /* --base-white: #fff; */
  /* --foundation-neutral-black-neutral-black-100: #b1b0ba; */
  --tertiary-200: #aaadb0;
  --gray-200: #e4e7ec;
  /* --foundation-neutral-black-neutral-black-50: #e6e6e9; */
  --color-gainsboro-100: #d9d9d9;
  --gray-300: #d0d5dd;
  --color-lightgray-100: rgba(204, 206, 208, 0.45);
  --gray-600: #475467;
  --gray-700: #344154;
  --foundation-neutral-black-neutral-black-400: #35344e;
  --gray-50: #f9fafb;
  --tertiary-300: #808588;
  --gray-900: #101828;
  
  
  --foundation-blue-dark: #1f2674;
  --foundation-blue-dark-active: #121746;
  
  --foundation-neutral-black-neutral-black-300: #55556b;
  
  --color-black: #000;
  --color-steelblue: #176a96;
  --primary-500: #6418c3;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-0: 0px;
  --gap-xl: 20px;
  --gap-13xl: 32px;
  --gap-xs: 12px;
  --gap-12xs: 1px;
  --gap-9xs: 4px;
  --gap-11xs: 2px;
  --gap-base: 16px;
  --gap-29xl: 48px;
  --gap-21xl: 40px;
  --gap-sm: 14px;
  --gap-10xs: 3px;
  --gap-5xl: 24px;

  /* Paddings */
  --padding-11xs: 2px;
  --padding-mini: 15px;
  --padding-xl: 20px;
  --padding-xs: 12px;
  --padding-base: 16px;
  --padding-13xl: 32px;
  --padding-5xl: 24px;
  --padding-3xs: 10px;
  --padding-5xs: 8px;
  --padding-11xs: 2px;
  --padding-7xs: 6px;
  --padding-10xs: 3px;
  --padding-mini: 15px;
  --padding-11xl: 30px;


  /* Border radiuses */
  --br-9xs: 4px;
  --br-5xs: 8px;
  --br-5xl: 24px;
  --br-31xl: 50px;
  --br-11xl: 30px;
  --br-xl: 20px;
  --br-21xl: 40px;
  --br-7xs: 6px;
  --br-xs: 12px;
  --br-81xl: 100px;

  /* Effects */
    --shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);

}